body {
  background-color: #2e3141;
  background-image: linear-gradient(to top, rgba(46, 49, 65, 0.7), rgba(46, 49, 65, 0.7)), url(../images/austin-background.jpg);
  background-size: auto, cover;
  background-attachment: fixed, fixed;
  background-position: center, center;
}

.btn-outline-white {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.btn-outline-white:hover {
  background-color: rgb(200, 200, 200, 0.2) !important;
}

.container {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.header-div {
  display: inline-block;
  color: white;
}

.header-div h3 {
  font-size: 2.5rem;
}

hr {
  border: none;
  height: 1px;
  color: rgb(200, 200, 200);
  background-color: rgb(200, 200, 200);
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

#title-section {
  color: white;
  height: 35rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#title-section h1 {
  font-size: 4rem;
  font-weight: 500;
}

#title-section h2 {
  font-size: 1.5rem;
  font-weight: 400;
}

#title-section hr {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

#title-section a {
  margin-top: -1px;
  margin-bottom: 0;
}

#title-header {
  display: inline-block;
}

#about-section {
  background-color: rgb(51, 55, 77);
  color: white;
  border-radius: 0;
}

#profile-img-col {
  max-width: 18rem;
  margin: 1rem auto;
}

#projects-section {
  text-align: center;
  background-color: rgb(24, 27, 46);
}

#projects-section .card {
  width: 21rem;
  margin: 1rem;
  background-color: rgb(51, 55, 77);
  color: white;
}

#projects-section .card-text {
  color: rgb(190, 190, 190);
}

#skills-section {
  text-align: center;
  background-color: rgb(51, 55, 77);
  color: white;
  border-radius: 0;
}

#skills-section .skill-icon {
  text-align: center;
  margin: 2rem;
  max-height: 5.2rem;
  max-width: 5.2rem;
}

#skills-section i {
  font-size: 5rem;
}

#contact-section .contact-icon {
  margin: 2rem 2rem 0 0;
  max-height: 5.2rem;
}

#contact-section a {
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.7);
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

#contact-section i {
  text-align: center;
  font-size: 4rem;
  margin-right: 0.5rem;
  min-width: 4rem;
}

#contact-section span {
  line-height: 4rem;
  vertical-align: top;
}

#contact-section a:hover {
  color: rgba(255, 255, 255, 1);
}

#contact-section .footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
}

@media (max-width: 576px) {
  #contact-section a {
    font-size: 1rem;
  }
  
  #contact-section i {
    font-size: 2rem;
    min-width: 2rem;
  }
  
  #contact-section span {
    line-height: 2rem;
  }
}